{% extends 'base.html.twig' %}

{% block title %}Botanique{% endblock %}

{% block body %}
<style>
    .example-wrapper {  display:flex; flex-direction: row; justify-content: space-around;}
    h1 {text-align: center;}
  
</style>

<div>
   
    <h1>Botanique</h1>
    <div class="example-wrapper">
    <div>
   <a href="{{ path('embranchement_index') }}"><h2>Embranchements</h2> </a>

	 </div>
	 </div>
    
</div>
</div>
{% endblock %}
