{% extends 'base.html.twig' %}

{% block title %}Edit SuperClasse{% endblock %}

{% block content %}
    <h1>Edit SuperClasse</h1>

    {{ include('super_classe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('super_classe_index') }}">back to list</a>

    {{ include('super_classe/_delete_form.html.twig') }}
{% endblock %}
